.icon-search{
    width: 50%;
    height: 50%;
    float: right;
    position: relative;
    right: -20px;
    bottom: -10px;

}
.user-list{
    border: 0px solid;
    list-style: none;
    padding: 20px;
    color: white;
    background: #222222;
    -webkit-transition: background 0.1s; /* Safari */
    transition: background 0.1s;
    transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    cursor: pointer;
    margin-right: 50%;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.user-list.mysong{


}



.backSearchIcon{
    background: #841E21;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-left: -30px;
    margin-top: -10px;
    color: #fff;
    border: none;
    outline: none;
    position: relative;
}


ul.searchbar{
    height: 100%;
    width: 50%;
    float: right;
    right: 20px;
    visibility: collapse;
}



ul.searchbar.max{
    visibility: visible;

}

.user-list.max{
    margin-right: 0px;
}

.searchbar{
    float: right;
    position:absolute;
    z-index: 10;
    width: 100%;
}

.searchbar > .user-list{
    margin-right: 60px;
    width: 100%;
}

.user-list:hover{
    background: #841E21;
}
.user-list.first{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-color: #841E21;
    border-top: 0px;
}

.user-list.last{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-color: #841E21;
    border-bottom: 0px;
}

.detail{
    height: 19px;
    color: gray;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}



.user-icon{

    border: 1px solid white;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: absolute;
    margin: 2%;
    margin-left: -8px;
}



.username{
    height: 60px;
    font-size: 40px;
    font-family: 'Lato';
    font-weight: 100;
    border: none;
    outline: none;
    color: #fff;
    padding: 3px;
    padding-right: 0px;
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
    background: none;
    transition: none;
    cursor: pointer;"
}