.icon-search{
    width: 50%;
    height: 50%;
    float: right;
    position: relative;
    right: -20px;
    bottom: -10px;
    background: url('../img/ic_search_white_48dp_2x.png');

}


.user-list{

    border: 0px solid;
    list-style: none;
    padding: 20px;
    color: white;
    background: #222222;
    -webkit-transition: background 0.1s; /* Safari */
    transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    cursor: pointer;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.user-list.suggestions{
    border-left: 1px solid #4D4D52;
    border-right: 1px solid #4D4D52;
    border-bottom: 1px solid #4D4D52;
}

ul{ padding: 0px; }
.thumb{
    width: 40px;
    height: 40px;
    float: left;
    margin-top: 10px;
    border-radius: 200px;
    margin-right: 10px;
}

.top-page{
    position: fixed;    z-index: 300;    width: 100%;    padding: 11px;    background: #4D4D52; height: 82px;
}

.top-page-padder{
    margin-top: 114px;
}


.user-list:hover{
    background: #841E21;
}

.user-list.first{
    border-top: 1px solid #888888;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.user-list.last{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom: 1px solid #888888;
}
.user-list.last.suggestions{
    border-bottom: 1px solid #4D4D52;
}

.playingGif {
    height: 19px;
    color: gray;
    float: right;
    position: relative;
    margin-top: -43px;
    right: 2%;
}

.detail {
    height: 19px;
    color: gray;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}



.user-icon{
    border: 1px solid white;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: absolute;
    margin: 2%;
    margin-left: -8px;
}
.user-icon:hover{
    cursor: pointer;
}



.username{
    height: 60px;
    font-size: 40px;
    font-family: 'Lato';
    font-weight: 100;
    border: none;
    outline: none;
    color: #fff;
    padding: 3px;
    padding-right: 0px;
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
    background: none;
    transition: none;
    cursor: pointer;"
}

.error-input-username{
    font-size: 30px;
    color: #841E21;
    margin-top: 80px;
    visibility: hidden;
}

.error-input-username-visible{
    font-size: 30px;
    color: #841E21;
    margin-top: 80px;
    visibility: visible;
}
.bottom-page-padder{
    margin-top: 112px;
}

.bottom-page{
    background: #4D4D52;
    height: 112px;
}

ul.songlist{
    padding: 0px;
    margin:0px;
    padding-bottom: 10px;
}

.navbar-fixed-bottom {
    z-index: 100 !important;
}