.page-nodder-style{
    width: 100%;
    background: ghostwhite;
    border-radius: 18px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0px;
    margin-top: 10px;

}
.page-nodder-style::-webkit-scrollbar { width: 0 !important }

.nodder-icon{
    border: 1px solid ghostwhite;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    position: relative;
    margin-top: 9px;
    margin-left: 8px;
    float: left;
}

.nodder-name{
    height: 64px;
    font-size: 18px;
    font-family: 'Lato';
    font-weight: 400;
    border: none;
    outline: none;
    color: black;
    margin-left: 0;
    width: 240px;
    position: relative;
    top: 6px;
    left: 6px;
    background: none;
    transition: none;
    float: left;
}

.headphoneicon{
    margin-top: 17px;
    float: left;
}

.infonodderh6{
    position: relative;
    float: left;
    margin-top: 32px;
    font-weight: 200;
    margin-left: -15px;
    margin-right: 10px;
}

.infosongnodder{
    position: relative;
    float: left;
    margin-top: 27px;
    font-weight: 400;
    margin-left: 0px;
    margin-right: 10px;
    font-size: 17px;
}

.otherinfosongnodder{
    margin-top: 28px;
    font-weight: 300;
    font-size: 14px;

}

.chaticon{
    float: right;
    margin-top: 18px;
    margin-right: 31px;
    transform: scaleX(-1);
    cursor: pointer;
}
.chaticon:hover{
    color: #841E21;
}
.adjust-margin-row{
    margin-left: 0;
    margin-right: 0;
}

.tag-prefered{
    background: ghostwhite;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    padding: 0px;
    color: black;
    font-weight: 300;
    cursor: default;
    list-style: none;
    font-size: 20px;
}

.
