.ruotaContainer {
    top:0%;
    position: fixed;
    width: 200px;
    height: 100%;
    margin-left:-180px;
    border: 5px solid transparent;
    border-radius: 960px;
    background-color: transparent;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

}
.ruotaContainer.max{
    margin-left: -120px;
}

.us {
    position: fixed;
    top: 50%;
    border-bottom: 100px solid #1b6d85;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    height: 0;
    border-bottom-left-radius:250px;
    border-bottom-right-radius:250px;
    width: 0px;
    -webkit-transform-origin: 100px 0px; /* Chrome, Safari, Opera */
    color: white;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.us:hover{
    border-bottom-color: #841E21;
}
.us.dispari{
    border-bottom-color: #2d2d2d;
}
.us.dispari:hover{
    border-bottom-color: #841E21;
}

.u{
    transform: rotate(90deg);
}