.navbaruserRow{
    margin-right: 30%;
}

i.navbaricon{color: white}

ul.navbaruser{
    width: 100%;
    height: 79%;

}

ul.navbaruser>li{
    padding-left: 21px;
}

h6.name-user-nav-icon{
    font-weight: 100;
    margin-left: -5px;
    margin-top: 3px;
    font-size: 100%;
}


.navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: 500px;
    padding-left:0;
    padding-right:0;
}



i.iconrow{
    transition: all .2s cubic-bezier(0.000, 0.795, 0.000, 1.000);
}

.item-navbar{
    color:white;
    background: #841E21;
    padding: 11%;
    padding-left: 23%;
    padding-right: 0;
    border-radius: 100%;
    width: 80px;
    height: 80px;
}

.item-navbar:hover{
    cursor: pointer;
    color: darkgray !important;

}