.navbaruserRow{
    margin-right: 100px;
}

i.navbaricon{color: white}

ul.navbaruser{
    width: 100%;
    height: 79%;
    margin-top: -22px;
}

ul.navbaruser>li{
    padding-left: 28px;
}

h6.name-user-nav-icon{
    font-weight: 300;
    margin-left: -13px;
    margin-top: -7px;
    border-radius: 63px;
    font-size: 80%;
    background-color: transparent;
    width: 70px;
}


.navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: 500px;
    padding-left:0;
    padding-right:0;
}



i.iconrow{
    transition: all .2s cubic-bezier(0.000, 0.795, 0.000, 1.000);
}

.item-navbar {
    color: white;
    background: #841E21;
    padding-top: 17px;
    border-radius: 100%;
    width: 65px;
    height: 65px;
    cursor: pointer;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;

}


.item-navbar.logout{
    background: #1B6D85;
    position: fixed;
    height: 75px;
    width: 75px;
    margin-left: 10px;
}

.item-navbar.logout:hover{
    cursor: pointer;
    width: 75px;
    height: 75px;
    background: #222222;
    margin-top: 8px;
    margin-left: 10px;
}



.item-navbar:hover{
    cursor: pointer;
    width: 75px;
    height: 75px;
    background: #222222;
    margin-left: -15px;

}

.item-navbar:active{
    border-radius: 10%;
    background: #1B6D85 !important;
}

.current-item-navbar{
    cursor: pointer;
    background: #222222 !important;
    border-radius: 10%;
}

.navbaruserLog{
    background: #4D4D52;
    width: 100px;
    position: fixed;
    height: 100px;
    border-radius: 22px;
}