.navbaruserRow{
    margin-right: 30%;
}

i.navbaricon{color: white}

ul.navbaruser{
    width: 100%;
    height: 79%;

}

ul.navbaruser>li{
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}


.navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
}

i.iconrow:hover{
    cursor: pointer;
    color: #841E21;
}

i.iconrow{color: white;

}