<div class="row" >
    <div class=" navbar-left" id="left"autoscroll='true'>
        <ul class=" navbaruser">
            <li class="row navbaruserRow active" ng-repeat="i in navbaritem" id="i.name" ui-sref="{{i.sref}}" scroll-if="state==i.sref" ng-class="{'last' : $index==navbaritem.length-1}">
                <div class="col-md-12 col-sm-12 item-navbar" ng-class="{'current-item-navbar' : state==i.sref}"  >
                    <i class="fa {{i.icon}} fa-2x fa iconrow"  aria-hidden="true"  style="{{i.styleIcon}}" ui-sref="{{i.sref}}"></i>
                    <h6 class="name-user-nav-icon iconname" style="{{i.styleText}}" sref="{{i.sref}}"> {{i.name}}</h6>

                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12"  id="right" autoscroll='true'>
        <ui-view >
        </ui-view>
    </div>
</div>