<div class="row">
    <div  class="col-lg-6 col-xs-12 col-sm-12 col-md-12" style="color: white">
        <div ng-if="nodBuddy!=null">
            <h2>Il tuo nod Buddy è</h2>
            <img class="chatThumb" ng-src="{{nodBuddy.image}}">
            <span>{{nodBuddy.name}}</span>
            <p>Avete vi siete noddati ben {{countnodbuddy}} volte!</p>
        </div>
        <div ng-if="nodBuddy==null">
            <h4>Qualcuno qui non si impegna abbastanza!</h4>
            <h5>Ascolta la musica con un tuo amico contemporaneamente (o meglio, noddati con lui!)</h5>
        </div>
    </div>
    <div  class="col-lg-6 col-xs-12 col-sm-9 col-md-8">

    </div>
</div>
</div>