<div class="row">
    <div class="col-md-6 col-sm-12">
        <ul class="songlist">
            <li class="user-list" ng-repeat="s in songs" ng-click="chooseSong($index)"
                ng-class=" {max:min==true,first:$index==0,last:$index==songs.length-1}" ng-if="s!=undefined">
                            <span>
                                <img  ng-src="{{s.image}}" class="thumb">
                            </span>
                          <i class="fa fa-hand-peace-o loveIconsong" aria-hidden="true"></i>
                          <i class="fa fa-plus loveIconsong" aria-hidden="true"></i>
                        <span>
                            <h5>{{s.title}}</h5>
                            <h6 style=" color: #C2C2C2"> {{s.artist}}</h6>
                        </span>
                        <span>
                            <img src="img/playing.gif" class="playingGif" ng-if="$index==currentSongIndex&&myUser.isPlaying">
                        </span>

            </li>
        </ul>
    </div>
    <div class="col-md-6  col-sm-12" >
        <ul class="songlist">
            <li class="user-list" ng-repeat="s in songs" ng-click="chooseSong($index)"
                ng-class=" {max:min==true,first:$index==0,last:$index==songs.length-1}">
                    <span>
                        {{s.album}}
                    </span>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12" style="top: 20px">
        <ul>

            <li class="user-list" ng-repeat="(uid, u) in users" ng-if="uid!=ref.getAuth().uid && u.isPlaying == true"  ng-class=" {max:min==true,first:$index==0}" >
                    <span ng-click="listenTo(u.song,u.time,uid)">
                        <span >{{u.name}} sta ascoltando: {{u.song.title}}</span> | <span class="detail">{{u.time | trackTime}}</span>
                    </span>
            </li>
        </ul>
    </div>
</div>