<div class="row" style="margin-right: 0" >
    <div class="chat-window col-md-7 col-lg-7 col-xs-7 col-sm-7">
        <div class="chat-messages no-select">
            <div class="chat-message-bubble nomeamico no-select">
                <a class="userlink" ng-click="gotonodder(receiver.$id)"> {{receiver.name}} </a>
            </div>
            <ol class="chat-messages-list no-select" style="transform: matrix(1, 0, 0, 1, 0, 0);">
                <li ng-repeat="m in currentChat  " class="chat-message no-select"  ng-class="{'chat-message-self' : myUser.$id==m.sender,'chat-message-friend' : myUser.$id!=m.sender}">
                    <div class="chat-message-bubble no-select" style="transform: translate3d(0px, 0px, 0px); opacity: 1; text-align: right ">
                        <text class="no-select" ng-bind-html="m.text|html"> </text> <i ng-show="m.read" class="fa fa-check no-select" aria-hidden="true"></i>
                        <h6 class="texttime no-select">{{ m.utc | date:' h : mm a '}}</h6>
                        <h6 class="textdate no-select">{{ m.utc | date: 'MMM d, y' }}</h6>
                    </div>
                </li>
            </ol>
            <div class="emojiContainer no-select" ng-class="{'max' : emojiOpened}" scrolly="loadMore()" >
                <div class="emojielement" ng-repeat="m in emoji | limitTo:limit" ng-bind-html="m|html" ng-click="addEmojiToMsg(m)" >
                    {{m}}
                </div>
            </div>
        </div>
        <div class="chat-input-bar no-select">
            <div class="chat-info-container no-select">

            </div>
            <div class="chat-effect-container" style="-webkit-filter: none; filter: none;">
                <div class="chat-effect-bar no-select"></div>
            </div>
            <div class="chat-input-wrapper">
                <button class="chat-input-tool" ng-click="openEmoji()">
                    <span class="emj"> &#x1F600;</span>
                </button>
                <div class="chat-input"  ng-model="msg" ng-click="emojiOpened=false" ng-enter="sendMessageAngular()" contenteditable=""></div>
                <button class="chat-send no-select" ng-click="sendMessageAngular()">
                    <i class="fa fa-paper-plane no-select" style="color:white;transform: translate3d(0px, 0px, 0px);"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-lg-5 col-xs-5 col-sm-5" style="padding: 0;padding-left: 5px;" >
        <ul class="chatlist" id="chatlist" style=" overflow-y: scroll; height: 500px; padding: 0;">
            <li class="chatlistelement" ng-repeat="(uid, u) in users"  ng-click="gotochat(uid)"  ng-if="uid!=ref.getAuth().uid" ng-class=" {max:min==true,first:$index==0,last:$index==users.length-1}">
                <div style="float: left">
                    <img ng-src="{{u.image}}" class="chatThumbList" ng-click="gotochat(uid)" ng-class="u.online==true? 'online' : 'offline'">
                    <div class="notifica" ng-class="messaggiDaId(uid)!=0 ? 'max' : ''"><i ng-if="messaggiDaId(uid)!=0">{{messaggiDaId(uid)}}</i></div>
                </div>
                <div style="text-align: right;">
                    <h6 style="text-align: center;"> <a class="userlink" ng-click="gotonodder(uid)"> {{u.name}} </a></h6>
                    <p class="lastOnline">Ultima volta online: {{u.lastTimeOnline| date:' h : mm a '}}</p>
                    <p class="lastOnline"> {{ u.lastTimeOnline | date: 'MMM d, y' }}</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<script src="js/chat.js"></script>
