<div class="row" >
    <div class="chat-window col-md-7 col-lg-7 col-xs-7 col-sm-7">
        <div class="chat-messages">
            <div class="chat-message-bubble nomeamico">
                {{receiver.name}} - {{receivername}}
            </div>
            <ol class="chat-messages-list" style="transform: matrix(1, 0, 0, 1, 0, 0);">
            </ol>
        </div>
        <div class="chat-input-bar">
            <div class="chat-info-container">

            </div>
            <div class="chat-effect-container" style="-webkit-filter: none; filter: none;">
                <div class="chat-effect-bar"></div>
            </div>
            <div class="chat-input-wrapper">
                <button class="chat-input-tool">
                    <i class="icon icon-camera"></i>
                </button>
                <div class="chat-input" ng-model="messagetext" contenteditable=""></div>
                <button class="chat-send" ng-click="createMessage(myUser.id,myUser.name,receiver.$id,messagetext)">
                    <i class="fa fa-paper-plane" style="color:white;transform: translate3d(0px, 0px, 0px);"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-lg-5 col-xs-5 col-sm-5" style="padding: 0;padding-left: 5px;" >
        <ul class="chatlist" id="chatlist" style=" overflow-y: scroll; height: 500px; padding: 0;">
            <li class="chatlistelement" ng-repeat="(uid, u) in users"   ng-if="uid!=ref.getAuth().uid" ng-class=" {max:min==true,first:$index==0,last:$index==users.length-1}">
                    <span ng-click="provaChiamataJs()">
                        <img ng-src="{{u.image}}" class="chatThumbList" ng-click="gotochat(uid)" ng-class="u.online==true? 'online' : 'offline'">
                        <h6 >{{u.name}}</h6>
                    </span>
            </li>
        </ul>
    </div>
</div>
<script src="js/chat.js"></script>
