<!--
<div class="row">
    <div class="col-md-12 col-sm-12" style="top: 20px">
        <ul>
            <li class="user-list" ng-repeat="(uid, u) in users " ng-if="uid!=ref.getAuth().uid && u.isPlaying == true && u.modoIncognito==false"  ng-class=" {max:min==true,first:$index==0}" >
                    <span ng-click="listenTo(u.song,u.time,uid)">
                        <span >{{u.name}} sta ascoltando: {{u.song.title}}</span> | <span class="detail">{{u.time | trackTime}}</span>
                    </span>
                <i class="fa fa-hand-peace-o loveIconsong" style="margin-top: -3px" aria-hidden="true"></i>
            </li>
        </ul>
    </div>
</div>
-->

<div>
    <div class="row" id="albums">
        <div class="col-md-12  col-sm-12">
            <ul class="albumContainer">
                <li class="artistElement"  ng-click="listenTo(u.song,u.time,uid)" ng-repeat="(uid, u) in users" ng-if="uid!=ref.getAuth().uid && u.modoIncognito==false" class="albumName" >
                    <img class="albumThumb" ng-src="{{u.image}}" ng-class=" {albumThumbgrey: uid!=ref.getAuth().uid && !u.isPlaying == true && u.modoIncognito==false}"><br>
                    <h6 class="albumName">{{u.name}}</h6>
                    <span class="detail" ng-if="uid!=ref.getAuth().uid && u.isPlaying == true && u.modoIncognito==false" > <h6 class="albumName">{{u.song.title}}</h6> {{u.time | trackTime}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>