<div class="loadingContainer" ng-class="{on:showLoading}">
    <div class="loader"></div>
</div>
<!-- Modal-->
<div id="changeImage" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cambia la tua immagine del profilo!</h4>
            </div>
            <div class="modal-body">
                <p>Inserisci qui sotto il link all'immagine che più preferisci!</p>
                <p><input type="text" class="usernametag imageinput" ng-model="myUser.image"> </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div>
    <div class="container-fluid" ng-class="{blur:showLoading}" ng-click="clickhandling($event)">
        <style ng-bind-html="style"></style>
        <style ng-bind-html="volumeStyle"></style>
        <audio class="notification" controls preload="none">
            <source src="https://nod-music.firebaseapp.com/audio/notification.mp3" type="audio/mpeg">
            <source src="https://nod-music.firebaseapp.com/audio/notification.ogg" type="audio/ogg">
        </audio>
        <div class="row top-page">

            <div class="col-md-6 col-xs-6 ">
                <img ng-src="{{myUser.image}}"  class="user-icon">
                <i class="fa fa-2x fa-camera camera-icoon" aria-hidden="true" data-toggle="modal" data-target="#changeImage"></i>
                <input type="text" class="usernametag" ng-model="myUser.name" ng-disabled="true" >
            </div>
            <div class="col-md-6 col-xs-6 searchbar">
                <div id="wrap">
                    <form action="#" autocomplete="off">
                        <img src="img/ic_search_white_48dp_2x.png" class="icon-search backSearchIcon">
                        <input class="barSearch" id="search" name="search" type="text" placeholder="Trova"
                               ng-model="itemsearched">
                        <input class="searchSumbit" id="search_submit" value="Rechercher" type="button">
                    </form>
                    <div class="row" id="rowSuggestions" ng-class="{max:showSuggestions}">
                        <div class="col-md-12 col-xs-12">
                            <!-- ng-mouseleave="hideSuggestions($event)" -->
                            <ul class="searchbar suggestion" ng-class="{max:showSuggestions} "  id="suggestions" >
                                <li class="user-list suggestion first last" ng-repeat="s in suggestions" ng-click="chooseSong(songs.indexOf(s))" ng-if="s.length!=0">
                                    <ul >
                                        <li style="list-style-type: none">
                                            <h4 style="text-align: center">{{ricerca[$index]}}</h4>
                                        </li>
                                        <li ng-class=" {first:$index==0,last:$index==s.length-1}" class="user-list suggestion" ng-repeat="song in s">
                                            <div ng-if="ricerca[$parent.$index]=='Canzoni'">
                                            <span>
                                                <img  ng-src="{{song.image}}" class="thumb  suggestionIm"> {{song.$index}}
                                            </span>
                                            <span>
                                                <h5>{{song.title}}</h5>
                                                <h6 style=" color: #C2C2C2"> {{song.artist}}</h6>
                                            </span>
                                            <span>
                                                <img src="img/playing.gif" class="playingGif" ng-if="$index==currentSongIndex&&myUser.isPlaying">
                                            </span>
                                            </div>
                                            <div ng-if="ricerca[$parent.$index]=='Artisti'">
                                            <span>
                                                <img  ng-src="{{song.image}}" class="thumb suggestionIm"> {{song.$index}}
                                            </span>
                                            <span>
                                                <h5>{{song.artist}}</h5>
                                            </span>
                                            </div>
                                            <div ng-if="ricerca[$parent.$index]=='Album'">
                                            <span>
                                                <img  ng-src="{{song.image}}" class="thumb suggestionIm"> {{song.$index}}
                                            </span>
                                            <span>
                                                <h5>{{song.album}}</h5>
                                            </span>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li ng-if="suggestions.length==0" class="user-list suggestion first last" style="list-style-type: none">
                                    <h4>Non sono stati prodotti risultati</h4>
                                </li>
                            </ul>
                        </div>
                    </div></div>
            </div>
        </div>

        <div class="row top-page-padder" >
            <div class="col-md-12 col-xs-12">
            </div>
        </div>
        <ui-view >
        </ui-view>
        <div class="row bottom-page-padder" >
            <div class="col-md-12 col-xs-12">
            </div>
        </div>
        <div class="navbar-fixed-bottom navbar bottom-page">
            <div class="navbaruserLog active" id="logoutmenu.name"  ng-click="logout()">
                <div class="item-navbar logout">
                    <i class="fa {{logoutmenu.icon}} fa-2x fa iconrow" style="{{logoutmenu.styleIcon}}" aria-hidden="true" ></i>
                    <h6  class="name-user-nav-icon iconname" style="{{logoutmenu.styleText}}"> {{logoutmenu.name}} </h6></div>
            </div>
            <ul class="chatContainer">
                <li class="chatItem " ng-repeat="(uid, u) in users" ng-if="uid!=ref.getAuth().uid">
                    <div class="chatThumb offline" ng-click="gotochat(uid)" ng-class="u.online==true? 'online' : 'offline' " ng-style="{'background-image':'url({{u.image}})'}">
                        <div class="notifica" ng-class="messaggiDaId(uid)!=0 ? 'max' : ''"><i ng-if="messaggiDaId(uid)!=0">{{messaggiDaId(uid)}}</i></div>
                        <!--<h6 class="schortchatnameuser">{{u.name}}</h6>-->
                    </div>


                </li>
            </ul>
            <defs>
                <filter id="goo">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"/>
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo"/>
                    <feComposite in="SourceGraphic" in2="goo" operator="atop"/>
                </filter>
                <filter id="goo-no-comp">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"/>
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 20 -9" result="goo"/>
                </filter>
                <filter id="goo-drops">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="6" result="blur"/>
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo"/>
                </filter>
            </defs>
            </svg>
            <div class="content noselect">
                <div class="player">
                    <div class="player-info">
                        <div class="player-info-text" ng-class="{nomusic:audio==undefined}">
                            <div>
                                <h2 ng-show="audio!=undefined" class="player-song-name">{{myUser.song.title}}</h2>
                                <h3 ng-show="audio!=undefined" class="player-artist">{{myUser.song.artist}}</h3>
                                <i class="fa toggle-player" aria-hidden="true" ng-class="min==true ? 'fa-angle-up': 'fa-angle-down'" ng-click="min=!min" ></i>
                                <i class="fa karaoke-toogle" aria-hidden="true" ng-class="{'fa-microphone-slash': karaoke, 'fa-microphone':karaoke==false,'disabled':audio==undefined}" ng-click="showKaraoke()" ></i>
                            </div>
                        </div>
                        <svg class="vinyl-arm" xmlns="http://www.w3.org/2000/svg" ng-class="{play: myUser.isPlaying,min: min}">
                            <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
                            <defs>
                                <filter height="200%" width="200%" y="-50%" x="-50%" id="svg_3_blur">
                                    <feGaussianBlur stdDeviation="0.1" in="SourceGraphic"/>
                                </filter>
                            </defs>
                            <g>
                                <path stroke="#5e5e5c" filter="url(#svg_3_blur)" id="svg_3"
                                      d="m15.25419,4.50001c-2.0611,28.90211 -2.57637,50.72616 34.00812,72.5502c36.5845,21.82404 0,90.24537 -0.25764,89.95045"
                                      fill-opacity="0" stroke-width="10" fill="#0fffff"/>
                                <ellipse stroke="#5e5e5c" ry="11.5509" rx="11.5647" id="svg_4" cy="20" cx="15.99999"
                                         stroke-width="0" fill="#bcbcbc"/>
                                <rect stroke="#5e5e5c" transform="rotate(24.36675262451172 48.999999999999915,172.5) "
                                      id="svg_5" height="39.08893" width="17.8563" y="152.95553" x="40.07185" stroke-width="0"
                                      fill="#191919"/>
                            </g>
                        </svg>
                        <div class="karaoke" ng-class="{max : audio!=undefined&&karaoke&&min==false}"> <!-- ng-if="audio!=undefined">-->
                            <p class="currentline" ng-class="{min: min||karaoke==false}">{{currentLineSong}}</p>
                            <br>
                            <p class="nextline" ng-class="{min: min||karaoke==false}">{{nextLineSong}}</p>
                        </div>
                        <div class="player-cover" ng-class=" min==true ? 'min': '' ">
                            <img src="img/default_song_album.png" width="200px" ng-if="audio==undefined">
                            <div style="position: absolute" ng-mouseenter="showIconLike=true" ng-mouseleave="showIconLike=false"
                                 class="player-album">
                                <img ng-src="{{myUser.song.image}}" width="200px" ng-if="audio!=undefined"
                                     class="player-album player-img-album"
                                     ng-class="{blurIt: showIconLike==true,animateIt: audio.paused!=true}">
                                <div ng-if="audio!=undefined"
                                     ng-click="addsongtoprefered(myUser.song);makeItBounce[currentSongIndex]=!makeItBounce[currentSongIndex]" class="icona-like icobutton icobutton--thumbs-up"
                                     ng-class="{max: showIconLike==true, loved:checkIfPreferedYet(myUser.song),bounce: makeItBounce[currentSongIndex]==true,bounceBack: makeItBounce[currentSongIndex]==false}"
                                     >
                                    <span class="fa fa-hand-peace-o" aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="player-spectrum user" ng-class="min==true ? 'min': ''">
                        <div class="player-spectrum-bars" ng-class=" {min:min==true,hide:audio==undefined}">
                            <div class="player-spectrum-bar"></div>
                            <div class="player-spectrum-bar"></div>
                            <div class="player-spectrum-bar"></div>
                            <div class="player-spectrum-bar"></div>
                            <div class="player-spectrum-bar"></div>
                            <div class="player-spectrum-bar"></div>
                            <div class="player-spectrum-bar"></div>
                            <div class="player-spectrum-bar"></div>
                            <div class="player-spectrum-bar"></div>
                            <div class="player-spectrum-bar"></div>
                            <div class="player-spectrum-bar"></div>
                            <div class="player-spectrum-bar"></div>
                            <div class="player-spectrum-bar"></div>
                            <div class="player-spectrum-bar"></div>
                            <div class="player-spectrum-bar"></div>
                            <div class="player-spectrum-bar"></div>
                        </div>
                        <div class="player-spectrum-floor"></div>
                    </div>
                    <div class="player-drops"></div>
                    <div class="player-controls">
                        <input ng-if="audio.progress!=undefined && audio.canPlay" ng-model="audio.progress" step="0.001" min="0" max="1"
                               type="range" class="rangebar" ng-disabled="audio==undefined"
                               ng-class="{nonActivated : audio==undefined}">
                        <input ng-if="audio.progress==undefined" step="0.001" value="0" min="0" max="1" type="range"
                               class="rangebar" ng-disabled="audio==undefined" ng-class="{nonActivated : audio==undefined}">
                        <div class="player-buttons">
                            <button class="player-button" ng-click="prevSong()" ng-disabled="audio==undefined"
                                    ng-class="{nonActivated : audio==undefined}">
                                <i class="fa fa-step-backward"></i>
                            </button>
                            <button class="player-button play-pause-button" ng-click="playOrPause()"
                                    ng-disabled="audio==undefined" ng-class="{nonActivated : audio==undefined}">
                                <i class="fa fa-pause" ng-class="{'fa-pause': audio.paused==false&& audio.canPlay, 'fa-play' : audio.paused==true&& audio.canPlay}"></i>
                            </button>
                            <button class="player-button" ng-click="nextSong()" ng-disabled="audio==undefined"
                                    ng-class="{nonActivated : audio==undefined}">
                                <i class="fa fa-step-forward"></i>
                            </button>
                        </div>
                        <button class="player-button" ng-mouseover="showVolume=true"
                                ng-click="audio.volume!=0 ? audio.volume=0 : audio.volume=1-audio.volume"
                                ng-disabled="audio==undefined" ng-class="{nonActivated : audio==undefined}">
                            <i class="fa " ng-class="audio.volume!=0 ? 'fa-volume-up': 'fa-volume-off'"></i>
                        </button>
                        <input type="range" min="0" ng-model="audio.volume" max="1" step="0.001" class="volumebar"
                               ng-class=" {max:showVolume==true}" ng-mouseleave="showVolume=false"/>
                <span class="player-time "
                      ng-class="{nonActivated : audio==undefined}">{{audio.currentTime|trackTime}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>