<div class="row">
    <div class="col-md-3  col-sm-3">
        <ul class="nav navbar-nav navbaruser">
            <li class="row navbaruserRow active" id="Relazioni">
                <div class="col-md-4 col-sm-4">
                    <i class="fa fa-users fa-3x fa iconrow"  aria-hidden="true"></i></div>
                <div class="col-md-8 col-sm-8"> </div>
            </li>
            <li class="row navbaruserRow" id="Playlist">
                <div class="col-md-4 col-sm-3"><i class="fa fa-list fa-3x iconrow" aria-hidden="true"></i></div>
                <div class="col-md-8 col-sm-8">  </div>

            </li>
            <li class="row navbaruserRow" id="Canzoni">
                <div class="col-md-4 col-sm-3"><i class="fa fa-music fa-3x iconrow" aria-hidden="true"></i></div>
                <div class="col-md-8 col-sm-8"> </div>

            </li>
            <li class="row navbaruserRow" id="Album">
                <div class="col-md-4 col-sm-3"><i class="fa fa-headphones fa-3x iconrow" aria-hidden="true"></i></div>
                <div class="col-md-8 col-sm-8"> </div>
            </li>
            <li class="row navbaruserRow" id="Classifiche">
                <div class="col-md-4 col-sm-3"><i class="fa fa-bar-chart fa-3x iconrow" aria-hidden="true"></i></div>
                <div class="col-md-8 col-sm-8"> </div>
            </li>
        </ul>
    </div>
    <div class="col-md-9 col-sm-9" style="color: #6d8515"></div>
</div>