<div class="row" id="albums">
    <div class="col-md-12  col-sm-12" style="height:  160px">
        <ul class="albumContainer">
            <li class="albumElement" ng-repeat="s in albums" ng-click="chooseAlbum(s)">
                <img class="albumThumb" ng-src="{{s[0].image}}"><br>
                <h6 class="albumName">{{s[0].name}}</h6>
            </li>
        </ul>
    </div>
</div>
<div class="row albumList" id="album">
    <div class="col-md-8 col-lg-8 col-xs-8 col-sm-8" >
        <span >
            <h5>{{currentAlbum[0].name}}</h5>
            <h6 style=" color: #C2C2C2"> {{currentAlbum[0].artist}}</h6>
        </span>
        <ul class="songlist">
            <li class=" row user-list max" ng-repeat="song in currentAlbum" ng-if="$index!=0" ng-class="{first: $index==1,last:$index==currentAlbum.length-1}">
                <span class="col-md-9 col-lg-9 col-xs-9 col-sm-9" ng-click="chooseSong($index,s)">
                    <span >
                        <h5 style="color: white">{{song.title}}</h5>
                        <h6 style=" color: #C2C2C2"> {{song.artist}}</h6>
                        <img src="img/playing.gif" class="playingGif" ng-if="myUser.song.title==song.title&&myUser.isPlaying">
                    </span>
                </span>
                <i class="fa fa-hand-peace-o loveIconsong" ng-click="addsongtoprefered(song)" ng-class="checkIfPreferedYet(song) ? 'loved': ''" aria-hidden="true"></i>
                <i class="fa fa-plus loveIconsong" aria-hidden="true"  ></i>
            </li>
        </ul>
    </div>
    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 rightAlbum" ng-style="{'background-image': 'url(' + currentAlbum[0].image + ')'}">
    </div>
    </div>
</div>