
<div class="container-fluid content bodystyle" >

    <div class="row" id="rowusername" style="margin-top: 20%">
        <div class="col-md-4 col-xs-4">
        </div>
        <div class="col-md-4 col-xs-4">
            <input id="Username" name="search" type="text" style="width: 100%" placeholder="Username"  class="ng-pristine ng-valid ng-empty ng-touched username-input" autocomplete="off">
        </div>
        <div class="col-md-4 col-xs-4">
        </div>
    </div>

    <div class="row"  id="rowemail" style="margin-top: 100px">
        <div class="col-md-4 col-xs-4">
        </div>
        <div class="col-md-4 col-xs-4">
            <input id="Email" name="search" type="password" placeholder="Password"  style="width: 100%" class="ng-pristine ng-valid ng-empty ng-touched username-input" autocomplete="off">
        </div>
        <div class="col-md-4 col-xs-4">
        </div>
    </div>

    <div class="row" id="otherSocialwrite" style="margin-top: 100px;">

        <div class="col-md-2 col-xs-2">
        </div>
        <div class="col-md-5">
            <input id="otherAccount" name="search" type="text" placeholder="Accedi con un altro account "  class="otherAccount" disabled>
        </div>

        <div class="col-md-1 col-xs-4">
            <div class="login menu-wrapper ">
                <ul class="login menu-items">
                    <li class="login menu-item">
                        <button class="login menu-item-button">
                            <i class="login menu-item-icon icon icon-reply"></i>
                        </button>
                        <div class="login menu-item-bounce"></div>
                    </li>
                    <li class="login menu-item">
                        <button class="login menu-item-button">
                            <i class="login menu-item-icon icon icon-box"></i>
                        </button>
                        <div class="login menu-item-bounce"></div>
                    </li>
                    <li class="login menu-item">
                        <button class="login menu-item-button">
                            <i class="login menu-item-icon icon icon-trash"></i>
                        </button>
                        <div class="login menu-item-bounce"></div>
                    </li>
                </ul>
                <button class="login menu-toggle-button">
                    <i class="fa fa-plus menu-toggle-icon"></i>
                </button>
            </div>
        </div>
        <div class="col-md-4 col-xs-2">
        </div>
    </div>
</div>
<footer class="navbar navbar-fixed-bottom iscriviti">
        <span>Non sei ancora iscritto?  <a ng-href="#" >iscriviti!</a></span>
</footer>




