<div class="loadingContainer">
    <div class="loader"></div>
</div>
<div class="container-fluid content bodystyle">
    <form>
    <div class="row">
        <div class="col-md-5 col-lg-5 col-xs-4"></div>
        <div class="col-md-2 col-lg-2 col-xs-4" style="text-align: center;">
            <img ng-src="{{myUser.image}}" class="user-icon imgLogin">
        </div>
        <div class="col-md-5 col-lg-5 col-xs-4"></div>
    </div>
    <div class="row" id="rowusername">
        <div class="col-md-4 col-xs-1"></div>
        <div class="col-md-4 col-xs-10">
            <input ng-model="myUser.email" id="email"  type="email" placeholder="Email"  class="ng-pristine ng-valid ng-empty ng-touched username-input noautofillStyle" autocomplete="off" spellcheck="false">
        </div>
        <div class="col-md-4 col-xs-1"></div>
    </div>
    <div class="row"  id="rowemail">
        <div class="col-md-4 col-xs-1">
        </div>
        <div class="col-md-4 col-xs-10">
            <input ng-model="myUser.pwd" id="Password" type="password" placeholder="Password"   class="ng-pristine ng-valid ng-empty ng-touched username-input pass noautofillStyle" autocomplete="off" >
        </div>
        <div class="col-md-4 col-xs-1">
        </div>
    </div>
        <div class="row " id="submitrow">
            <div class="col-md-4 col-xs-1"></div>
            <div class="col-md-4 col-xs-10" style="text-align: center">
                <button type="submit" id="submitButton" class="buttonSubmit pass" ng-click="loginUser()"> <i class="fa fa-2x fa-sign-in" aria-hidden="true"></i></button>
            </div>
            <div class="col-md-4 col-xs-1">
            </div>
        </div>
    <div class="row" id="otherSocialwrite" style="margin-top: 32px;">
        <div class="col-md-2 col-xs-2">
        </div>
        <div class="col-md-5 col-xs-5 otherAccountDiv">
            <span id="otherAccount" class="otherAccount" >
                Accedi con un altro account
            </span>
        </div>
        <div class="col-md-1 col-xs-1">
            <div class="login menu-wrapper ">
                <ul class="login menu-items">
                    <li class="login menu-item">
                        <button class="login menu-item-button" style="background: #3a5795" ng-click="loginwithFacebook()">
                            <i class="login menu-item-icon fa fa-facebook"></i>
                        </button>
                        <div class="login menu-item-bounce"></div>
                    </li>
                    <li class="login menu-item">
                        <button class="login menu-item-button" style="background: #db4437" ng-click="loginwithGoogle()">
                            <i class="login menu-item-icon fa fa-google"></i>
                        </button>
                        <div class="login menu-item-bounce"></div>
                    </li>
                    <li class="login menu-item">
                        <button class="login menu-item-button" style="background: #1da1f2" ng-click="loginwithtwetter()">
                            <i class="login menu-item-icon fa fa-twitter"></i>
                        </button>
                        <div class="login menu-item-bounce"></div>
                    </li>
                </ul>
                <button class="login menu-toggle-button">
                    <i class="fa fa-arrow-circle-right fa-lg menu-toggle-icon login"></i>
                </button>
            </div>
        </div>
        <div class="col-md-4 col-xs-4">
        </div>
    </div>
    </form>
</div>
<footer class="navbar navbar-fixed-bottom iscriviti">
    <span>Non sei ancora iscritto?  <a href="" ng-click="goToRegisterPage()">iscriviti!</a></span>
</footer>




