
<div class="container-fluid content bodystyle" >
    <div class="row" class="topPage">
        <div class="col-md-5 col-lg-5 col-xs-5"></div>
        <div class="col-md-2 col-lg-2 col-xs-2" style="    text-align: center;">
            <img ng-src="{{myUser.image}}" class="user-icon imgLogin">
        </div>
        <div class="col-md-5 col-lg-5 col-xs-5"></div>
    </div>
    <div class="row" id="rowusername">
        <div class="col-md-4 col-xs-4">
        </div>
        <div class="col-md-4 col-xs-4">
            <input ng-model="myUser.id" id="Username" name="search" type="text" placeholder="Username"  class="ng-pristine ng-valid ng-empty ng-touched username-input" autocomplete="off">
        </div>
        <div class="col-md-4 col-xs-4">
        </div>
    </div>

    <div class="row"  id="rowemail">
        <div class="col-md-4 col-xs-4">
        </div>
        <div class="col-md-4 col-xs-4">
            <input ng-model="myUser.pwd" id="Email" name="search" type="password" placeholder="Password"   class="ng-pristine ng-valid ng-empty ng-touched username-input pass" autocomplete="off">
        </div>
        <div class="col-md-4 col-xs-4">
        </div>
    </div>

    <div class="row" id="otherSocialwrite" style="margin-top: 100px;">

        <div class="col-md-2 col-xs-2">
        </div>
        <div class="col-md-5 col-xs-5 otherAccountDiv">
            <span id="otherAccount" class="otherAccount" >
                Accedi con un altro account
            </span>
        </div>

        <div class="col-md-1 col-xs-1">
            <div class="login menu-wrapper ">
                <ul class="login menu-items">
                    <li class="login menu-item">
                        <button class="login menu-item-button">
                            <i class="login menu-item-icon fa fa-facebook"></i>
                        </button>
                        <div class="login menu-item-bounce"></div>
                    </li>
                    <li class="login menu-item">
                        <button class="login menu-item-button">
                            <i class="login menu-item-icon fa fa-google"></i>
                        </button>
                        <div class="login menu-item-bounce"></div>
                    </li>
                    <li class="login menu-item">
                        <button class="login menu-item-button">
                            <i class="login menu-item-icon fa fa-twitter"></i>
                        </button>
                        <div class="login menu-item-bounce"></div>
                    </li>
                </ul>
                <button class="login menu-toggle-button">
                    <i class="fa fa-sign-in menu-toggle-icon"></i>
                </button>
            </div>
        </div>
        <div class="col-md-4 col-xs-4">
        </div>
    </div>
</div>
<footer class="navbar navbar-fixed-bottom iscriviti">
        <span>Non sei ancora iscritto?  <a ng-href="#" >iscriviti!</a></span>
</footer>




