
<div class="container-fluid content bodystyle">
    <div class="row">
        <div class="col-md-5 col-lg-5 col-xs-5"></div>
        <div class="col-md-2 col-lg-2 col-xs-2" style="    text-align: center;  margin-top: 184px"  >
        </div>
        <div class="col-md-5 col-lg-5 col-xs-5"></div>
    </div>
    <div class="row" id="rowUsername">
        <div class="col-md-4 col-xs-4">
        </div>
        <div class="col-md-4 col-xs-4">
            <input ng-model="newUser.username" id="Username" name="search" type="text" placeholder="Username"  class="ng-pristine ng-valid ng-empty ng-touched username-input" autocomplete="off" ng-required="string" spellcheck="false">
        </div>
        <div class="col-md-4 col-xs-4"> <i class="fa fa-exclamation-circle error-input-username-visible" ng-if=" userNameAlreadyUsed == true " aria-hidden="true"  ></i>
        </div>
    </div>
    <div class="row"  id="rowPassword">
        <div class="col-md-4 col-xs-4">
        </div>
        <div class="col-md-4 col-xs-4">
            <input ng-model="newUser.pwd" id="password" name="search" type="password" placeholder="Password"   class="ng-pristine ng-valid ng-empty ng-touched username-input pass"  autocomplete="off" ng-required="string">
        </div>
        <div class="col-md-4 col-xs-4">
        </div>
    </div>
    <div class="row"  id="rowEmail">
        <div class="col-md-4 col-xs-4">
        </div>
        <div class="col-md-4 col-xs-4">
            <input ng-model="newUser.email" id="email" name="search" type="email" placeholder="email"   class="ng-pristine ng-valid ng-empty ng-touched username-input pass " autocomplete="off" ng-required="string" spellcheck="false">
        </div>
        <div class="col-md-4 col-xs-4">
        </div>
    </div>
    <div class="row" id="otherSocialwrite" style="margin-top: 100px;">
        <div class="col-md-2 col-xs-2">
        </div>
        <div class="col-md-3 col-xs-3 otherAccountDiv">
        </div>

        <div class="col-md-2 col-xs-2">
            <div class="login menu-wrapper submitform ">
                <ul class="login menu-items">
                    <li class="login menu-item">
                        <div class="login menu-item-bounce"></div>
                    </li>
                </ul>
                <button class=" menu-toggle-button" ng-click="registerNewUser()">
                    <i class="fa fa-sign-in menu-toggle-icon"></i>
                </button>
            </div>
        </div>
        <div class="col-md-5 col-xs-5">
        </div>
    </div>
</div>




